*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233) !important;
    min-height: 300vh;
}
.navbar-toggler{
    font-size: 40px !important;
}

nav ul li a{
    font-size: 40px !important;
}
/* nav{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000000;
    background: white !important;
}
.sticky{
    padding: 5px 100px;
    background: black !important;
}

nav .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s !important;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position: relative !important;
    margin: 0 15px;
    color: black !important;
    letter-spacing: 2px !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    transition: 0.6s !important;
}

.sticky ul li a,
.sticky .logo{
    color: white !important;
}

.caraosel, .slide{
    margin-top: 80px;
} */

section{
    /* /* height: max-content;
    width: 1200px; */
    /* margin: 20px 40px; */
    background: white !important;
    /* margin: 18px; */
    margin-top: 50px;
    padding: 4px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-item{
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
     border-radius: 10px;
}

.card-img{
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
}

.card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .card-content{
    /* margin-top: 20px; */
    padding: 5px 10px;
    /* background-color: burlywood; */
    background: transparent
    }   

    .card-content a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    }
    .card-mobile{
        display: flex;
        flex-direction: column;
    }
    .card-hov{
        display: flex !important;
        width: 100% !important;
        justify-content: space-around !important;
    }
    .card-isi{
        width: 200px !important;
        height: 200px !important;
        padding: 2rem 1rem !important;
        position: relative !important;
        display: flex !important;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0,0,0,0.5) !important;
        transition: 0.5s ease-in-out !important;
        margin-bottom: 40px;
    }

    .card-isi:hover{
        transform: translateY(20px) !important;
    }
    .card-isi::before{
        content:'' !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1)) !important;
        z-index: 2 !important;
        transition: 0.5s all !important;
        opacity: 0 !important;
    }
    .card-isi:hover::before{
        opacity: 1 !important;
    }
    .card-isi img{
        width: 100% !important;
        width: 100% !important;
        object-fit: cover !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
    .card-isi .info{
        position: relative !important;
        z-index: 3 !important;
        color: #fff !important;
        opacity: 0 !important;
        transform: translateY(30px) !important;
        transition: 0.5s all !important;
    }
    .card-isi:hover .info{
        opacity: 1 !important;
        transform: translateY(0px) !important;
    }
    .card-isi .info .btn{
        text-decoration: none !important;
        padding: 0.5rem 1rem !important;
        background: black !important;
        color: white !important;
        font-size: 14px !important;
    }
     .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

@media (min-width: 992px) {
    section{
    /* /* height: max-content;
    width: 1200px; */
    margin: 50px 40px;
    background: violet;
    }
    nav ul li a{
    font-size: 20px !important;
    }
    .style-card{
        display: flex;
        justify-content: start;
    }
    .card-item{
    width: 200px;
    height: 250px;
    margin: 0 !important;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    }
    .card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    .card-hov{
        display: flex !important;
        width: 100% !important;
        justify-content: space-around !important;
    }
    .card-isi{
        width: 200px !important;
        height: 200px !important;
        padding: 2rem 1rem !important;
        position: relative !important;
        display: flex !important;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0,0,0,0.5) !important;
        transition: 0.5s ease-in-out !important;
        margin-bottom: 40px;
    }

    .card-isi:hover{
        transform: translateY(20px) !important;
    }
    .card-isi::before{
        content:'' !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1)) !important;
        z-index: 2 !important;
        transition: 0.5s all !important;
        opacity: 0 !important;
    }
    .card-isi:hover::before{
        opacity: 1 !important;
    }
    .card-isi img{
        width: 100% !important;
        width: 100% !important;
        object-fit: cover !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
    .card-isi .info{
        position: relative !important;
        z-index: 3 !important;
        color: #fff !important;
        opacity: 0 !important;
        transform: translateY(30px) !important;
        transition: 0.5s all !important;
    }
    .card-isi:hover .info{
        opacity: 1 !important;
        transform: translateY(0px) !important;
    }
    .card-isi .info .btn{
        text-decoration: none !important;
        padding: 0.5rem 1rem !important;
        background: black !important;
        color: white !important;
        font-size: 14px !important;
    }
     .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        /* .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        } */
}