*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233) !important;
    /* min-height: 300vh; */
}
.section{
    margin: 110px 30px;
    border: 1px solid black;
    padding: 10px 10px;
    box-sizing: border-box;
    background: white;
}

    ::-webkit-scrollbar {
    width: 0px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: transparent;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: transparent;
    }
    .navbar-toggler{
        font-size: 20px !important;
    }

nav ul li a{
    font-size: 40px !important;
}
    .nav-undangan p{
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        border: 0px solid;
        padding: 5px 10px;
    }
    .nav-undangan p:hover{
        background: turquoise;
        color: white;
    }
    .card-head{
        height: 400px;
        width: 260px;
        border: 1px solid black;
        box-sizing: border-box;
        margin-bottom: 15px;
    }
    .card-head:hover{
        background-color: rgb(180, 180, 180);
        cursor: pointer;
    }
       .yasin-text{
           margin-right: 30px;
       }
       .nav-text{
          text-align: center;
       }
      .nav-text p{
           padding: 5px 10px;
            cursor: pointer;
            font-size: 18px;
            text-transform: uppercase;
       }
       .nav-text p:hover{
           background: chartreuse;
           color: white;
       }
       .menu{
           padding: 20px 0;
           /* border: 1px solid black; */
           box-sizing: border-box;
       }

@media (min-width: 992px) {
    nav{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000000;
    background: transparent !important;
}
     .nav-undangan p{
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        border: 0px solid;
        padding: 5px 10px;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f100;
    }

/* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
.sticky{
    padding: 5px 100px;
    background: white !important;
}

nav .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s !important;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position: relative !important;
    margin: 0 15px;
    color: black !important;
    letter-spacing: 2px !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    transition: 0.6s !important;
    }
       .nav-text{
           display: flex;
           flex-direction: row;
           justify-content: center;
       }
       .nav-text p{
           margin-right: 15px;
           padding: 5px 10px;
           font-size: 18px;
           cursor: pointer;
       }
       .nav-text p:hover{
           background: chartreuse;
           color: white;
       }
       .menu{
           width: 900px;
           padding: 20px 0;
           /* border: 1px solid black; */
           box-sizing: border-box;
       }
}