*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233) !important;
    /* min-height: 300vh; */
}
.section{
    margin: 110px 30px;
    /* border: 1px solid black; */
    padding: 10px 10px;
    box-sizing: border-box;
    background: white;
}

    ::-webkit-scrollbar {
    width: 0px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: transparent;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: transparent;
    }
    .navbar-toggler{
        font-size: 20px !important;
    }

    nav ul li a{
        font-size: 20px !important;
    }
    .nav-undangan p{
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        border: 0px solid;
        padding: 5px 10px;
    }
    .nav-undangan p:hover{
        background: turquoise;
        color: white;
    }
    .card-head{
        height: 360px;
        width: 260px;
        /* border: 1px solid black; */
        box-sizing: border-box;
        margin-bottom: 15px;
        padding-top: 4px;
    }
    .card-head:hover{
        background-color: rgb(180, 180, 180);
        cursor: pointer;
    }
       .yasin-text{
           margin-right: 30px;
       }
       .nav-text{
          text-align: center;
       }
      .nav-text p{
           padding: 5px 10px;
            cursor: pointer;
            font-size: 18px;
            text-transform: uppercase;
       }
       .nav-text p:hover{
           background: chartreuse;
           color: white;
       }
       .menu{
           padding: 20px 0;
           /* border: 1px solid black; */
           box-sizing: border-box;
       }
       .card-img{
           width: auto;
           height: 240px;
           /* border: 1px solid black; */
       }
       .card-img img{
           object-fit: cover;
       }
       .text-head{
           margin-top: 6px;
           letter-spacing: 3px;
           line-height: 5px;
       }
       .text-head p{
           font-weight: bold;
       }

       #loadMore {
        width: 200px;
        color: #fff;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid transparent;
        background-color: blue;
        transition: .3s;
        text-decoration: none;
        }
        #loadMore:hover {
        color: blue;
        background-color: #fff;
        border: 1px solid blue;
        text-decoration: none;
        }
        .noContent {
        color: #000 !important;
        background-color: transparent !important;
        pointer-events: none;
        }
        .content {
        /* height: 100px;
        width: 45%;
        color: #fff;
        font-size: 24px;
        line-height: 100px;
        text-align: center;
        background-color: grey;
        margin: 5px;
        border: 1px solid lightgrey; */
        display: none;
        }
         .card-center{
        display: flex;
        justify-content: center;
    }

@media (min-width: 992px) {
    nav{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000000;
    background: transparent !important;
}
     .nav-undangan p{
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        border: 0px solid;
        padding: 5px 10px;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f100;
    }

/* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    .sticky{
        padding: 5px 100px;
        background: rgb(147, 255, 147) !important;
    }

    nav .logo{
        position: relative;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        /* letter-spacing: 2px; */
        transition: 0.6s !important;
    }
    nav ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li{
        position: relative;
        list-style: none;
    }
    nav ul li a{
        position: relative !important;
        margin: 0 15px;
        color: black !important;
        /* letter-spacing: 2px !important; */
        font-weight: 500 !important;
        font-size: 16px !important;
        transition: 0.6s !important;
        }

        nav ul li a:hover{
            color: red !important;
        }

       .nav-text{
           display: flex;
           flex-direction: row;
           justify-content: center;
       }
       .nav-text p{
           margin-right: 15px;
           padding: 5px 10px;
           font-size: 18px;
           cursor: pointer;
       }
       .nav-text p:hover{
           background: chartreuse;
           color: white;
       }
       .menu{
           /* width: 900px; */
           padding: 20px 0;
           /* border: 1px solid black; */
           box-sizing: border-box;
           display: flex;
       }
       .card-center{
        display: flex;
        justify-content: start;
    }
}